<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Shopping List List View</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
<div class="row">	
  		<span style="font-size:30px; padding:5px" th:text="${shoppingList.name}"> </span><span style="padding:5px"> Shopping List</span>
  		<span class="pull-right" style="padding:5px"><a class="btn btn-default" href="/" th:href="@{|/list/${shoppingList.id}/additem|}" role="button"> Add Item</a></span>
  		<span class="pull-right" style="padding:5px"><a class="btn btn-default" href="/" th:href="@{|/list/${shoppingList.id}/deletechecked|}" role="button"> Delete Checked</a></span>
  		</div>
  		<!-- Example single danger button -->
<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  	</button>
  	<div class="dropdown-menu">
    	<a class="dropdown-item" href="high">Highest priority</a>
    	<a class="dropdown-item" href="low">Lowest priority</a>
    	<a class="dropdown-item" href="az">A to Z</a>
    	<a class="dropdown-item" href="za">Z to A</a>
    	<div class="dropdown-divider"></div>
    	<a class="dropdown-item" href="#">Separated link</a>
 	</div>
</div>
  		<div class="row">
  		<table class="table table-striped table-hover">
  			<thead>
  				<tr>
  					<th>Contents</th>
  					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${shoppingList.listItems}">
					<td><input type="checkbox" />&nbsp;</td>
  					<td th:text="${item.contents}"></td>
					<td class="pull-right"><a class="btn btn-default btn-xs" href="/" th:href="@{|/list/${shoppingList.id}/delete/${item.id}|}" role="button">Delete</a></td>
  				</tr>
  					
			</tbody>
		</table>
	</div> 
</body>
</html>